.single {
  padding: 1px 25px;
  background: rgb(108, 195, 195);
  display: block;
  margin: 20px 10px;
  border-left: 8px solid #fff;
  color: rgb(93, 86, 86);
}

.single:hover {
  border-left: 8px solid rgb(57, 96, 174);
}

.title {
  color: rgb(49, 79, 79);
  padding-bottom: 5px;
  text-align: center;
  margin-bottom: 0;
}

.parag {
  text-align: center;
  font-style: italic;
  margin-top: 0;
}
